<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--Honghaier Game Editor : Version 1.0 -->
<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>y1.png</key>
<dict>
<key>frame</key>
<string>{{0,179},{528,182}}</string>
<key>offset</key>
<string>{1,0}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{2,3},{528,182}}</string>
<key>sourceSize</key>
<string>{535,188}</string>
</dict>
<key>y2.png</key>
<dict>
<key>frame</key>
<string>{{0,0},{543,179}}</string>
<key>offset</key>
<string>{-2,1}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{5,1},{543,179}}</string>
<key>sourceSize</key>
<string>{550,184}</string>
</dict>
<key>y3.png</key>
<dict>
<key>frame</key>
<string>{{836,0},{167,75}}</string>
<key>offset</key>
<string>{1,-1}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{16,9},{167,75}}</string>
<key>sourceSize</key>
<string>{201,91}</string>
</dict>
<key>y4.png</key>
<dict>
<key>frame</key>
<string>{{543,0},{293,145}}</string>
<key>offset</key>
<string>{0,-3}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{3,10},{293,145}}</string>
<key>sourceSize</key>
<string>{299,160}</string>
</dict>
<key>y5.png</key>
<dict>
<key>frame</key>
<string>{{528,179},{283,116}}</string>
<key>offset</key>
<string>{0,-4}</string>
<key>rotated</key><false/>
<key>sourceColorRect</key>
<string>{{15,20},{283,116}}</string>
<key>sourceSize</key>
<string>{313,148}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>11_Pack_0.png</string>
<key>size</key>
<string>{1024,512}</string>
<key>TextureFileName</key>
<string>11_Pack_0.png</string>
</dict>
</dict>
</plist>
